@(message: String)

@main("Play Monty Hall!") {

<div class="main-content start">

    <div class="register">

    @helper.form(action = routes.Application.storeName()) {

    <ul class="form">
        <li>
          <input type="text" name="playerName" placeholder="Player name" value="@flash.get("playerName")">
        </li>
        <li>
            <input class="button gray" type="submit" value="Play!">
            <p class="error">

            </p>
        </li>
    </ul>

}

    </div>
</div>    
}
